.container {
  margin: 0.5rem;
  padding: 1rem;
  background-color: none;
  text-align: center;

  h2 {
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 0 0.5rem var(--colore-bluChiaro);
    font-style: 1.3rem;
    font-weight: 500;
  }
}
