.footer{
  width: 100%;
  box-shadow: 0 5px 20px rgba(0,0,0,.8);
  background-color: var(--colore-nero);
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  a{
    color: var(--colore-bianco);
  }
  img{
    height: auto;
    width: 4rem;
  };
}

.copy{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  p{
    color: var(--colore-bianco);
  }
}