.container {
  width: 100%;
  background-color: var(--colore-nero);
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 3rem;
  align-items: center;

  h1,h2,h3,h4,h5,h6, p, li {
    color: white;
  }
  
}

