.footer{
  width: 100%;
  box-shadow: var(--box-blu);
  background-color: var(--colore-nero);
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
}

.links{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  a{
    color: var(--colore-bluChiaro);
  }
  img{
    height: auto;
    width: 5rem;
  };
}

.copy{
  display: flex;
  justify-content: center;
  p{
    color: var(--colore-bluChiaro);
  }
}