@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Reset */

:root {
/* colori principali */
  --colore-nero: #000000;
  --colore-blu: #004D99;
  --colore-bianco: #ffffff;
  --colore-grigio: #dadada;
  /* colori secondari */
  --colore-bluIntermedio: #6AAAEB;
  --colore-bluChiaro: #94C4F5;

  --colore-verde: #00b377;
  --colore-verdeChiaro: #6ee7bf;
  --colore-violaScuro: #700C7B;
  --colore-viola: #881095;
  --colore-violaChiaro: #d613ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
p {
  color: rgb(0, 0, 0);
  border: 1px solid blue;
}
img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Variabili fisse */

header {
  /* margin: 1rem;
  padding: 1rem; */

  border: 1px solid red;
}

main {
  padding-top: 90px;
  border: 1px solid rgb(9, 117, 42);
}

button{
  cursor: pointer;
}
/* Classe temporanea */
.dn {
  display: none;
}
