/* Variabili fisse */

.inter-ff {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  /* margin: 1rem;
  padding: 1rem; */

  border: 1px solid red;
}

main {
  /* margin: 1rem;
  padding: 1rem; */
  border: 1px solid rgb(9, 117, 42);
}
