.container {
  position: relative;
  z-index: 10;
  display: inline-block;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  max-width: 50px; 
  aspect-ratio: 1/1;
  border-radius: 50%; 
  background-color: var(--colore-nero);
  box-shadow: var(--box-bluOpaco);
  color: var(--colore-bluChiaro);
  border: 1px solid var(--colore-bluChiaro);
  cursor: pointer;

  img {
    width: 50%; 
    height: auto;
  }
}

.background {
  max-width: 1280px;
  background-color: var(--colore-nero);
  color: var(--colore-bluChiaro);
  box-shadow: var(--box-bluOpaco);
  border-top: none;
  transition: transform 0.5s ease-in-out;
  border-radius: 1rem;
}

.background.show {
  position: absolute;
  top: 150%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20rem;
  height: 20rem;
  animation: slideIn 1s forwards;
  border-radius: 1rem;
  text-transform: uppercase;
}

/* Commentato per evitare problemi di animazione
.background.hide {
  animation: slideOut 1s backwards;
}
*/

@keyframes slideIn {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}

/* Commentato per evitare problemi di animazione
@keyframes slideOut {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(100%);
  }
}
*/

.form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
  font-size: 1.5rem;
  position: relative;
}

.close_button {
  position: absolute;
  top: -1rem;
  right: 1rem;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input_button {
  position: absolute;
  right: 3%;
  top: 60%;
}

.input_button img {
  background-color: var(--colore-nero);
  border-radius: 0 0.5rem 0.5rem 0;
  aspect-ratio: 1/1;
  height: 1.4rem;
}

.link_button {
  border: none;
  color: var(--colore-bluChiaro);
}

.link_button:hover {
  color: var(--colore-bianco);
}

.user {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.links span {
  color: var(--colore-bluChiaro);
}

.input {
  border: none;
  margin: 0.5rem 0;
  background-color: var(--colore-nero);
}

.formLogged{
  text-align: center;
  font-size: 1.8rem;
}
.loggedin{
  margin: 1rem 0;
  text-transform: capitalize;

}
.close_button1{
  position: absolute;
  top: 0;
  right: 1rem;
}
.log_btn{
  text-decoration: underline var(--colore-bluChiaro);
}

@media (max-width: 768px) {
  .background.show {
      width: 90vw;
      right: -50%;
  }
}

@media (max-width: 426px) {
  .background.show {
      right: -20%;
      width: 90vw;
  }
}
