.nav {
  position: fixed;
  top: 0;
  max-height: 90px;
  z-index: 999;
  width: 100%;
  padding: 1rem;
  background-color: var(--colore-nero);
  box-shadow: var(--box-blu);
  border-bottom: 1px solid var(--colore-nero);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  max-width: 1280px;
  margin: 0 auto;

}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%; 
  max-width: 50px; 
  aspect-ratio: 1/1;
  border-radius: 50%; 
  cursor: pointer;
}

.logo img {
  width: 80%; 
  height: auto;
}
.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; 
  width: 50%;
  height: 50px;

  input {
    height: 100%;
    width: 70%;
    max-width: 450px;
    box-shadow: var(--box-bluOpaco);
    border: 1px solid var(--colore-bluChiaro);
    background-color: var(--colore-nero);
    color: var(--colore-bluChiaro);
    border-radius: 0.5rem;
  }
  .drop_search {
    position: absolute;
    top: 100%;
    left: 0; 
    width: 95%; 
    margin-top: 0.2rem;
    max-width: 450px;
    overflow-y: auto;
    border-radius: 0.5rem;
    background-color: var(--colore-nero);
    z-index: 1000;
    box-shadow: var(--box-blu);
  }
  .drop_search_li {
    font-size: 1rem;
    cursor: pointer;
    border-bottom: 1px solid var(--colore-bluChiaro)
  }
  .drop_search_name{
    color:var(--colore-bluChiaro) ;
    margin-left: 0.4rem;
  }
  .drop_search_job{
    color: var(--colore-bianco);
    margin: 0.2rem 0.4rem;
    font-size: 0.6rem;
  }

  .drop_search_li:hover {
    border-bottom: 1px solid var(--colore-nero);
    border-radius: 0.1rem;
    background-color: var(--colore-bluChiaro);
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    .drop_search_name{
      color: var(--colore-nero);
      font-weight: bold;
    }
    .drop_search_job{
      color: var(--colore-nero);
      font-weight: bold;
    }
  }

}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%; 
  max-width: 50px; 
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--colore-nero);
  box-shadow: var(--box-bluOpaco);
  color: var(--colore-bluChiaro);
  border: 1px solid var(--colore-bluChiaro);
  cursor: pointer;

  img {
    aspect-ratio: 1/1;
    width: 50%;
    height: auto;
  }
}



@media (max-width: 768px) {

  .logo{
    width: 3.2rem;
  }
  .form{
    justify-content: center;
    input{
      display: none;
    }
    button{
      aspect-ratio: 1/1;
      width: 3.2rem;
    }
  }
  .button {
    width: 20%; 
  }
  .container {
    li {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .button {
    width: 100%;
    max-width: 50px;
  }

  img {
    width: 80%; 
  }
}