.container {
  max-width: 1280px;
  margin: 1rem auto;
  border-radius: 0.5rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 0.5rem var(--colore-nero);
}
.h1 {
  text-align: center;
  font-size: 3rem;
}
.h3 {
  font-size: 1.7rem;
  margin: 1rem 1rem 0.5rem 1rem;
}
.form {
  min-width: 80%;
}
.label {
  font-size: 1.1rem;
}
.check {
  margin: 0.8rem 0.5rem 0.8rem 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
  border: none;
  box-shadow: 0 0 0.5rem var(--colore-nero);
}

.input {
  width: 40%;
  height: 100%;
  border: none;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 0.5rem var(--colore-nero);
  color: var(--colore-nero);
  background-color: var(--colore-bianco);;
}

.contact {
  width: 30rem;
  height: 2.3rem;
  margin: 1rem 3rem 1rem 3rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 0.5rem var(--colore-nero);
}
.radio {
  width: 1rem;
  height: 1rem;
  display: none;
}
.program {
  display: flex;
  margin: 2rem 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 7%;
}
.plan {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  cursor: pointer;
}
.icons {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 auto;
}
.saveButton {
  width: 7rem;
  height: 2.5rem;
  background-color: var(--colore-blu);
  color: var(--colore-bianco);
  border-radius: 1rem;
   box-shadow: 0 0 0.5rem var(--colore-nero);
   margin: 3rem 0 0 3rem;
   margin-right: 2rem;

  
}

@media (max-width: 425px) {
 .input {
  width: 15rem;
 }
  .program {
    width: 25rem;
  }

  .h3 {
    font-size: 1rem;
  }
  .contact {
    width: 15rem;
    height: 2.3rem;
  }
  .plan {
     width: 4rem;
  height: 4rem;
  }
  .textIcons {
  font-size: 0.9rem;
 }
  
 
}
@media (max-width: 375px) {
  .h3 {
    font-size: 0.9rem;
  }
   .input {
  width: 15rem;
 } 
  
  .plan {
     width: 4rem;
  height: 4rem;
  margin: 0 0.5rem 0 0.5rem;
  }
  .icons{
      width: 2.5rem;
  height: 2.5rem;
  }
  .contact {
    width: 15rem;
    height: 2.3rem;
  }
  .textIcons {
  font-size: 0.9rem;
 }
}
@media (max-width: 320px) {
 
  .h3 {
    font-size: 0.9rem;
  }
 .textIcons {
  font-size: 0.9rem;
 }
}
