.container {
  max-width: 1280px;
  margin: 1rem auto;
  border-radius: 0.5rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: var(--box-bluOpaco);
}
.h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--colore-bluChiaro);
}
.h3 {
  font-size: 1.7rem;
  margin: 1rem 1rem 0.5rem 1rem;
  color: var(--colore-bianco);
}
.form {
  min-width: 80%;
}
.label {
  font-size: 1.1rem;
  color: var(--colore-bianco);
}
.check[type="radio"] {
  margin: 0.8rem 0.5rem 0.8rem 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
  border: none;
  background-color: var(--colore-nero);
  box-shadow: var(--box-blu);
}

.input {
  width: 40%;
  height: 100%;
  border: none;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 0.5rem var(--colore-nero);
  color: var(--colore-nero);
  background-color: var(--colore-bianco);
}
.contact {
  width: 25rem;
  height: auto;

  border-radius: 1rem;
  border: none;
  box-shadow: var(--box-bluOpaco);
  background-color: var(--colore-nero);
  color: var(--colore-bianco);
}
.contact[multiple] {
  width: 25rem;
  height: auto;
  scrollbar-width: none;
  margin: 1rem 3rem 1rem 3rem;
  border-radius: 1rem;
  border: none;
  box-shadow: var(--box-bluOpaco);
  background-color: var(--colore-nero);
  color: var(--colore-bianco);
}

.contact[multiple] option {
  padding-left: 0.9rem;
  box-shadow: var(--box-bluOpaco);
  background-color: var(--colore-nero);
  color: var(--colore-bianco);
}

.radio {
  width: 1rem;
  height: 1rem;
  display: none;
}
.program {
  display: flex;
  margin: 2rem 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem 5rem;
}
.plan {
  width: 8%;
  height: 4.5rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.plan-selected {
  background-color: rgb(0, 0, 0);
  border-radius: 1rem;
  box-shadow: var(--box-bluOpaco);
}

.icons {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 auto;
}

.saveButton {
  width: 7rem;
  height: 2.5rem;
  background-color: var(--colore-nero);
  color: var(--colore-bianco);
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem var(--colore-nero);
  margin: 3rem 0 0 3rem;
  margin-right: 2rem;
  box-shadow: var(--box-bluOpaco);
}
.textIcons {
  color: var(--colore-bianco);
}

@media (max-width: 426px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .input {
    width: 15rem;
  }
  .program {
    width: 25rem;
    margin: 0 auto;
  }
  .h1 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .h1 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  .h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  .contact[multiple] {
    width: 20rem;
    height: auto;
    margin: 0 auto;
  }
  .plan {
    width: 4rem;
    height: 4rem;
  }
  .textIcons {
    font-size: 0.9rem;
  }
}
@media (max-width: 375px) {
  .container {
    margin: 0 auto;
    width: 25rem;
  }
  .h3 {
    font-size: 0.9rem;
    margin: 0.8rem 3rem;
  }
  .input {
    width: 15rem;
  }

  .plan {
    width: 4rem;
    height: 4rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
  }
  .icons {
    width: 2.5rem;
    height: 2.5rem;
  }
  .contact {
    width: 15rem;
    height: 2.3rem;
  }
  .textIcons {
    font-size: 0.9rem;
  }
}
@media (max-width: 320px) {
  .container {
    width: 22rem;
    margin: 0 auto;
  }

  .h3 {
    font-size: 0.9rem;
    margin: 1rem 3rem;
  }
  .contact[multiple] {
    width: 18rem;
  }
  .textIcons {
    font-size: 0.9rem;
  }
}
