.drop_search {
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 20%;
  height: 7rem;
  box-shadow: 0 0 0.5rem var(--colore-nero);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  font-size: 1rem;
  background-color: var(--colore-bianco);
  position: absolute;
  top: 4.3rem;
  left: 49.3vw;
}
.drop_search_li {
  padding: 0 0 0 0.5rem;
}
