
.main{
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem 2rem 1rem ;
    /*border: 1px solid red;*/
    /*height: 1000px;*/
}

.aside{
    width: 20%;
    height: auto;
    background-color: var(--colore-bianco);
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 2.5rem;
    box-shadow: 0 0 0.5rem var(--colore-nero);
    border-radius: 0.5rem;
    div{
        margin: 1rem;
    }
}

input{
    cursor: pointer;
}

.filtered{
    height: 100%;
    width: 80%;
    text-align: center;
    /*margin-left: 1rem;*/
    display: flex;
}

hr{
    border-color: var(--colore-nero);
}

.ul{
    background-color: var(--colore-bianco);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem 0.5rem;
    padding: 0.5rem;
    overflow: hidden;
}

.li{
    display: flex;
    flex-direction: column;
    background-color: var(--colore-bianco);
    box-shadow:  0 0 0.5rem var(--colore-nero);
    border-radius: 0.5rem; 
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
    cursor: pointer;
    transition: box-shadow 0.3. transform 0.3s;
}

.li img{
    width: 50%;
    aspect-ratio: 1/1;
}

.li p{
    font-size: 0.8rem;
}

.li:hover{
    background-color: var(--colore-bianco);
    box-shadow: 0 0 0.5rem var(--colore-nero);
    transform: scale(1.005);
}

.program{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.7rem;
    padding: 0.5rem 0;
}
.program_content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.program_content img{
   /* display: grid;*/
    height: 30px;
    /*grid-template-columns: repeat(auto-fill, 1fr);*/
}
