.center{
  max-width: 90%;
  margin: 0 auto;
}

/* Stili base per i dots */


/* Nascondi tutti i dots per default */
.slick-prev:before,
.slick-next:before {
  @apply text-slate-400 text-4xl !important; /* Usa classi Tailwind per cambiare colore e dimensioni */
  content: "→"; /* Sovrascrivi il contenuto del testo */
}

.slick-prev:before {
  position: relative;
  left: -80%;
  content: "←"; /* Freccia sinistra */
}

.slick-next:before {
  content: "→"; /* Freccia destra */
}
