.center{
  max-width: 100%;
  margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
  @apply text-[#94c4f5] text-4xl  !important;
  border-radius: 3rem;
  box-shadow: var(--box-card);
  content: "→"; 
}

.slick-prev:before {
  position: relative;
  left: -100%;
  content: "←"; /* Freccia sinistra */
}

.slick-next:before {
  content: "→"; /* Freccia destra */
  margin-left: 0.5rem;
}

.custom-class{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  height: 100%;
  width: 100%;
  padding: 4rem;
}

.my-shadow{
    box-shadow: var(--box-card);
}